*{
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
input{
    display: block;
}
canvas{
    width: 100px;
    height: auto;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
    padding-top: 2em; 
}
header, footer {
    padding: .5em;
}
main >*{
    text-align: center;
}
.align{
    max-width: 1080px;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
input{
    border: 0;
    outline: 0;
    width: 100%;
    height: auto
}
li{
    margin: 0;
    padding: .7em;
    border: 0.01em solid hsla(214, 83%, 58%, 0.3);
    text-align: start !important;
}
.download{
    color: white;
    background-color: hsla(214, 83%, 58%, 1); 
    padding: .8em;
    text-decoration: none;
}
.inactive{
    background-color: hsla(214, 0%, 58%, 1); 
}
.color_select{
    height: 5em;
}
.border_bottom_none{
    border-bottom: none;
}
.border_top_none{
    border-top: none ;
}
.switch_button{
    margin-bottom: 3em;
    width: 50%;
    color: white;
    background-color: hsla(214, 83%, 58%, 1); 
    padding: .8em;
    border: none;
    outline: none;
}